<h2>Login</h2>
</label>
<br />
<input type="text" name="username" placeholder="Username" id="name" />
<input type="text" name="password" placeholder="Password" id="password" />
<button type="submit">Submit</button>
</form>
<br />
<form action="/credentials" method="post">
    <label for="">
        <h2>Sign Up</h2>
    </label>
    <br />
    <input type="text" name="fName" placeholder="First Name" />
    <input type="text" name="lName" placeholder="Last Name" />
    <input type="text" name="password" placeholder="Password" />
    <button type="submit">Submit</button>
</form>
<script src="/assets/js/credentials.js"
